@font-face {
    font-family: 'Literata';
    src: local('Literata'), url('/static/fonts/Literata/Literata-VariableFont_opsz\,wght.ttf');
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Literata';
    src: local('Literata-Italic'), url('/static/fonts/Literata/Literata-Italic-VariableFont_opsz\,wght.ttf');
    font-optical-sizing: auto;
    font-style: italic;
}

@font-face {
    font-family: 'Tilt Neon';
    src: local('Tilt Neon'), url('/static/fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
