<hr>
<table>
    <tbody>
        <tr>
            <td><a href="/about">О нас</a></td>
            <td><a href="/bids">Каталог заявок</a></td>
        </tr>
        <tr>
            <td><a href="/create">Создание заявки</a></td>
            <td><a href="/index">Главная страница</a></td>
        </tr>
        <tr>
            <td><a href="/login">Авторизация</a></td>
            <td><a href="/products">Склад</a></td>
        </tr>
        <tr>
            <td><a href="/registration">Регистрация</a></td>
            <td><a href="/user">Профиль пользователя</a></td>
        </tr>
    </tbody>
</table>