<!-- Блок хедера -->
<div>
    <!-- Верх хедера -->
    <div id="header-top">
        <div id="header-top-left" >
            <img src="static/img/logo_200x140.webp" alt="логотип Уралгипромаш" sizes="200x140">
        </div>
        <div id="header-top-center" >
            <div id="header-top-center-top">
                <a href="http://www.telegram.com"><img src="static/img/TG_Logo.svg" alt="чат Телеграм"></a>
                <a href="http://www.vk.com"><img src="static/img/VK_Logo.svg" alt="группа ВКонтакте"></a>
            </div>
            <div id="header-top-center-center">

            </div>
            <div id="header-top-center-bottom">

            </div>
        </div>
        <div id="header-top-right" >
            right
        </div>
    </div>
    <!-- Низ хедера -->
    <div id="header-bottom">
        <nav>
            навигация
        </nav>
    </div>
</div>