<meta name="author" content="Aleksandr644 Ivanov" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- TODO добавить OpenGraph -->
<meta name="description" content="ООО НПФ Уралгипромаш - это управляющая компания, являющаяся содержателем офисного здания по адресу Челябинск улица Российская, 67" />

<title>{{ title }}</title>

<link rel="stylesheet" id="style-css" href="static/css/style.css" type="text/css" media="all">
<script src="../../static/js/main.js" defer></script>

<link rel="apple-touch-icon" href="static/img/logo.png">
<link rel="icon" href="static/img/TG_Logo.svg">
<link rel="icon" href="static/img/VK_Logo.svg">
<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

<meta name="msapplication-TileImage" content="static/img/logo.png">
