<meta name="author" content="Aleksandr644 Ivanov" />
<meta charset="UTF-8">
<meta type="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- TODO добавить OpenGraph -->

<meta name="description" content="ООО НПФ Уралгипромаш - это управляющая компания, являющаяся содержателем офисного здания по адресу Челябинск улица Российская, 67" />
<meta name="keywords" content="Уралгипромаш, УГМ, Российская 67, управляющая компания по Российской 67, Челябинск, Челябинск УГМ, Челябинск Уралгипромаш, Уралгипромаш Российская 67">

<title>{{ title }}</title>

<link rel="stylesheet" id="style-css" href="static/css/style.css" type="text/css" media="all">
<script src="static/js/script.js" defer></script>

<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">