{% extends 'base.html' %}
{% block content %}
<div>
    <p>&#9    ООО НПФ "Уралгипромаш" было основано в 1992 году и с тех пор зарекомендовало себя как надежный игрок в сфере ремонта и содержания зданий. На протяжении своего существования компания адаптировалась к изменениям в экономике и внедряла современные технологии, что позволило ей оставаться конкурентоспособной.<br>
        В области услуг "Уралгипромаш" предлагает широкий спектр работ, включая:</p>
    <ul>
    <li>Техническое обслуживание: Регулярные проверки и профилактические работы, направленные на поддержание зданий в исправном состоянии.</li>
    <li>Капитальный ремонт: Полное восстановление и обновление зданий, включая замену конструктивных элементов, что позволяет продлить срок службы объектов.</li>
    <li>Текущий ремонт: Выполнение мелких и средних работ, направленных на устранение неисправностей и поддержание функциональности зданий.</li>
    <li>Ремонт инженерных систем: Обслуживание и восстановление систем отопления, водоснабжения, электроснабжения и вентиляции.</li>
    <p>Наш адрес:</p>
    <h4>454006 г.Челябинск, ул. Российская, 67 офис 402</h4>
</ul></div>
{% endblock %}