<!DOCTYPE html>
<html lang="ru" dir="ltr" class="no-js">
    <head>
        {% include 'base/_head.html' %}
    </head>
    <body>
        <header>
            {% include 'base/_header.html' %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include 'base/_footer.html' %}
            <p id="Copyright"></p>
            <script>
                document.getElementById('Copyright').innerHTML = '&copy; 2023 - ' + new Date().getFullYear() + " by <a href='mailto:u9995844696@yandex.ru'>Aleksandr644 Ivanov</a>. All rights reserved."
            </script>
        </footer>
        {{moment.include_moment()}}
        {{moment.locale("ru")}}
    </body>
</html>