{% extends 'base.html' %}
{% block content %}
<div style="margin: 0 auto;text-align:center;">
    <h1>Склад</h1>
    <hr>
    <div style="overflow-x: auto;border: 1px solid rgb(0, 0, 0); height:100%;">
        <table style="margin: auto;">
            <thead>
                <tr>
                    <th style="border: 1px solid rgb(0, 0, 0);">Название</th>
                    <th style="border: 1px solid rgb(0, 0, 0);">Дата </th>
                    <th style="border: 1px solid rgb(0, 0, 0);">Количество</th>
                    <th style="border: 1px solid rgb(0, 0, 0);">Описание</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr style="height: 20px;" onmouseover="this.style.backgroundColor='#adffff'" onmouseout="this.style.backgroundColor='#add8e6'">
                        <td style="border: 1px solid rgb(0, 0, 0);width:100px;">{{product.name}}</td>
                        <td style="border: 1px solid rgb(0, 0, 0);width:200px;">{{moment(product.date).format('LL')}}</td>
                        <td style="border: 1px solid rgb(0, 0, 0);width:200px;">{% if product.count != 0 %}{{product.count}}{% else %}<span style="color: red;">НЕТ</span>{% endif %}</td>
                        <td style="border: 1px solid rgb(0, 0, 0);">
                            <div style="position: relative;min-width:1000px;height:20px">
                                <div style="white-space:nowrap;position:absolute;max-width:100%;overflow:hidden;text-overflow:ellipsis;">{{product.description}}</div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if prev_url %}
            <a href="{{ prev_url }}">Предыдущие</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}">Следующие</a>
        {% endif %}
    </div>
</div>
{% endblock %}